[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
flask-wtf = "*"
flask-cors = "*"
flask-restx = "*"
lxml = "*"
pillow = "*"
colormath = "*"
gunicorn = "*"
tinycss2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
